.contrast-nope {
    background-color: red;
    color: white;
}

.contrast-yup {
    background-color: green;
    color: white;
}

.contrast-kinda {
    background-color: yellow;
    color: black;
}

h5 {
    padding: 0.1rem 0.5rem;
    margin: 0.5rem 0;
    width: 300px;
}