.color-card {
  margin: 0px 10px;
  padding: 5px;
}

.color-card-highlight {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}

.color-card__button {
  margin: 0 0.5rem;
}

.color-card button {
  background-color: white;
  border-radius: 2px;
  border: solid 0.01rem black;
}

.color-card__button-cancel {
  text-align: center;
  width: 35rem;
  margin: 0 2rem 1rem 2rem;
}

.color-card form {
  margin-bottom: 1rem;
}