@import "./Variable.css";

body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  padding: 10px;
  background-color: black;

  background-image: url('/background.svg');
}


#root {
  width: 700px;
  min-height: 100vh;
  margin: auto;
  background-color: var(--color-white);
  border: 0.2rem solid var(--color-black);
  padding: 1rem;
  border-radius: 2px;
}